@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin build-circle($width, $height, $background-color, $border-color) {
  border-radius: 50%;
  width: $width;
  height: $height;
  background-color: $background-color;
  border: 1px solid $border-color;
}
